.catalog-container {
    max-width: 396px;
    max-height: 252px;
    box-sizing: border-box;
    // margin: 70px 0 80px 31px;
    padding: 29px 122px 57px;
    background-color: #fff;

    text-align: center;
}
.content-text {
    // font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #222;
}
.data-number {
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.56;
    letter-spacing: normal;
    text-align: center;
    color: #222;
}
