.category-container {
    width: 290px;
    height: 370px;
    box-sizing: border-box;
    // margin: 40px 30px 0 0;
    padding: 45px 57px 49px 55px;
    // border: solid 2px #1a1f1c;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover{
        cursor: pointer;
        opacity: 0.7;
    }
    
}
.photo {
    width: 161px;
    height: 150px;
    margin: 0 0 5px;
    align-items: center;
    img{
        margin: 0 auto;
        display: block;
    }
}

.title {
    width: 112px;
    height: 23px;
    margin: 15px 33px 19px;
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #fa5805;
}
.subtitle {
    width: 189px;
    height: 43px;
    margin: 20px 0 0;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: #676767;
}
