.page3-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    .page3-content .page3-upper {
        box-sizing: border-box;
        width: 1920px;
        height: 750px;
        // margin: 280px 0 0;
        padding: 159px 343px 160px 495px;
        background-color: #fa5805;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .page3-content__photo {
            img {
                height: 430px;
                width: 450px;
            }
        }

        .page3-content__right {
            text-align: left;
            display: flex;
            flex-direction: column;
            width: 441px;
            .page3--content__right--header {
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.88;
                letter-spacing: normal;
                text-align: left;
                color: #222;
                margin-bottom: 20px;
            }
            .page3--content__right--title {
                font-family: NotoSansCJKkr;
                font-size: 35px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.86;
                letter-spacing: normal;
                text-align: left;
                color: #fafafc;
                margin-bottom: 30px;
            }
            .page3--content__right--description {
                font-family: NotoSansCJKkr;
                font-size: 20px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: left;
                color: #fafafc;
                margin-bottom: 78px;
            }
            .page3--content__right--btn {
                width: 200px;
                height: 52px;
                font-size: 18px;
                font-weight: 300;
                text-align: center;
                color: #fff;
                border-radius: 10px;
                background-color: #222;
            }
        }
    }
}
